/* LINKS */
a { color: #1C967D; }
a:hover, a:focus { color: #3EB9A0; }
a:active { color: #63DFC6; }

/* TOPO */
.topoAplicacao {
	background-color: #242B33;
	background: url(../images/bg_topo.png),
		-moz-linear-gradient(-45deg, #25B89A 0%, #242b33 33%);
	background: url(../images/bg_topo.png),
		-webkit-gradient(linear, left top, right bottom, color-stop(0%,#25B89A), color-stop(33%,#242B33));
	background: url(../images/bg_topo.png),
		-webkit-linear-gradient(-45deg, #25B89A 0%,#242B33 33%);
	background: url(../images/bg_topo.png),
		-o-linear-gradient(-45deg, #25B89A 0%,#242b33 33%);
	background: url(../images/bg_topo.png),
		-ms-linear-gradient(-45deg, #25B89A 0%,#242b33 33%);
	background: url(../images/bg_topo.png),
		linear-gradient(135deg, #25B89A 0%,#242B33 33%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25B89A', endColorstr='#242b33',GradientType=1 );
}

@media(min-width: 768px) {
    .topoAplicacao {
    background: url(../images/bg_topo.png) right -15px no-repeat,
		url(../images/logo-camara-transp.png) 30px 12px no-repeat,
		-webkit-gradient(linear, left top, right bottom, color-stop(0%,#25B89A), color-stop(33%,#242B33));
	background: url(../images/bg_topo.png) right -15px no-repeat,
		url(../images/logo-camara-transp.png) 30px 12px no-repeat,
		-webkit-linear-gradient(-45deg, #25B89A 0%,#242B33 33%);
	background: url(../images/bg_topo.png) right -15px no-repeat,
		url(../images/logo-camara-transp.png) 30px 12px no-repeat,
		-o-linear-gradient(-45deg, #25B89A 0%,#242b33 33%);
	background: url(../images/bg_topo.png) right -15px no-repeat,
		url(../images/logo-camara-transp.png) 30px 12px no-repeat,
		-ms-linear-gradient(-45deg, #25B89A 0%,#242b33 33%);
	background: url(../images/bg_topo.png) right -15px no-repeat,
		url(../images/logo-camara-transp.png) 30px 12px no-repeat,
		linear-gradient(135deg, #25B89A 0%,#242B33 33%);
    }
}

.topoAplicacao .navbar-toggle.menuPrimario .glyphicon,
.topoAplicacao .navbar-toggle.linkInfo .glyphicon {
	color: #FFF;
}

.funcoesGlobais .dropdown-menu>li {
	border-bottom: 1px solid #18A588;
	background: #25B89A;
}

.funcoesGlobais .dropdown-menu>li>a:hover {
	background-color: #258E79;
	color:#FFF;
}

@media (min-width: 768px) {
    .funcoesGlobais .dropdown-menu>li {
		border-bottom: none;
		background: none;
    }

    .funcoesGlobais .dropdown-menu>li>a:hover {
    	background-color: none;
    }
}

/* MENU DO TOPO */
#pic-menu-global .navbar .navbar-nav>li>a:hover,
#pic-menu-global .navbar .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a {
	color: #FFF;
	background-color: #25b89a;
	background: #25b89a;
	border-top: 2px solid #FFF;
}

#pic-menu-global .navbar .navbar-nav .dropdown-menu li {
	border-bottom: 1px solid #18A588;
	background: #25b89a;
}

#pic-menu-global .navbar .navbar-nav .dropdown-menu li a {
	color: #FFFFFF;
}

#pic-menu-global .navbar .navbar-nav .dropdown-menu li a:hover,
#pic-menu-global .navbar .navbar-nav .dropdown-menu li a:focus {
	background-color:#258E79;
}

#pic-menu-global .navbar .navbar-nav .dropdown-menu li a:active {
	background-color:#3AA18D;
}

#pic-menu-global .navbar-nav > li.active > a {
	color: #FFF;
	background-color: #1C8E77;
	background: #1C8E77;
	border-top: 2px solid #FFF;
}

#pic-menu-global .navbar .navbar-nav .dropdown-menu li.active a {
	background-color: #61CBB6;
}

#pic-menu-global .navbar .navbar-nav .dropdown-menu li.active a:hover,
#pic-menu-global .navbar .navbar-nav .dropdown-menu li.active a:focus {
	background-color: #258E79;
}


/* 	MENU SECUNDÁRIO DO TOPO */
.topoAplicacao .suporteGlobal .funcoesGlobais > li > a:hover,
.topoAplicacao .suporteGlobal .funcoesGlobais > li > a:focus {
	color: #FFF;
	background-color: #25b89a;
	background: #25b89a;
}

/* MENU LATERAL ESQUERDO */
#menu-lateral .system-nav a:hover,
#menu-lateral .system-nav li.open > a:hover,
#menu-lateral .system-nav li.active > a:hover,
#menu-lateral .system-nav  a:focus,
#menu-lateral .system-nav li.open > a:focus,
#menu-lateral .system-nav li.active > a:focus {
	background-color: #25b89a;
	border-left: 5px solid #1d937b;
	padding-left:10px;
	color:#FFF;
}

#menu-lateral .system-nav a:active,
#menu-lateral .system-nav li.open > a:active {
	background-color: #3AA18D;
}

#menu-lateral .system-nav li.active > a {
	background-color: #bee9e1;
}

#menu-lateral .system-nav a:hover span,
#menu-lateral .system-nav li.open > a:hover span {
	color:#FFF;
}

#menu-lateral .controles-navgoco #btn-expander:hover span,
#menu-lateral .controles-navgoco #btn-collapse:hover span {
	color:#25b89a;
}

/* TABELA */
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom: 2px solid #1D937B;
}

/* COLUNA CONTEÚDO */
.page-header h1 {
	color: #187764; }
.entity-info .entity-title {
	color: #187764;
}
@media(min-width:992px) {
	.entity-info-body {
		border-left:1px solid #187764;
	}
}


/* BG  */
.bg-primary-on-hover:hover,
.bg-primary {
	background-color: #1d937b;
}

/* FOREGROUND */
.fg-primary {
	color:#1C967D;
}

/* FORMS */
button,
input[type="submit"],
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-link/*,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover*/ {
	color: #FFF;
	background-color: #1d937b;
	border-color: rgba(0, 0, 0, 0);
	border-bottom: 2px solid #176656;
}

input[type="reset"],
button[type="reset"],
.btn-secondary {
	color: #176656;
	background-color: #C7E3DD;
	border-color: rgba(0, 0, 0, 0);
	border-bottom: 2px solid #8CB5AC;
}

input[type="reset"]:hover,
button[type="reset"]:hover,
.btn-secondary:hover {
	color: #176656;
	background-color: #A4C5BE;
	border-bottom: 2px solid #6D928A;
}
button:focus,
button:hover,
input[type="submit"]:hover,
.btn-default:hover,
.btn-primary:hover,
.btn-success:hover,
.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-link:hover,
.btn-default:focus,
.btn-primary:focus,
.btn-success:focus,
.btn-info:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-link:focus,
.btn-default:hover:focus,
.btn-primary:hover:focus,
.btn-success:hover:focus,
.btn-info:hover:focus,
.btn-warning:hover:focus,
.btn-danger:hover:focus,
.btn-link:hover:focus,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-success,
.open>.dropdown-toggle.btn-info,
.open>.dropdown-toggle.btn-warning,
.open>.dropdown-toggle.btn-danger,
.open>.dropdown-toggle.btn-link {
	color: #FFF;
	background-color: #1C8871;
	border-color: rgba(0, 0, 0, 0);
	border-bottom: 2px solid #176656;
}

input[type="submit"]:focus,
input[type="submit"]:active,

button:active,
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-link:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active,
.btn-link.active,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-danger:focus,
.open>.dropdown-toggle.btn-link:focus,
.open>.dropdown-toggle.btn-default:hover,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-success:hover,
.open>.dropdown-toggle.btn-info:hover,
.open>.dropdown-toggle.btn-warning:hover,
.open>.dropdown-toggle.btn-danger:hover,
.open>.dropdown-toggle.btn-link:hover {
	color: #FFF;
	background-color: #136755;
	border-bottom: 2px solid #0B312A;
}

.btn-secondary:focus,
.btn-secondary:active {
	color: #0E4237;
	background-color: #8BADA6;
	border-bottom: 2px solid #587B74;
}

.form-control:focus,
table thead th:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
	border-color: #25b89a;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(29, 147, 123, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(29, 147, 123, 0.6);
	outline:none;
}

.btn-primary.active:hover,
.btn-primary:active:hover,
input[type="submit"]:active:hover {
    background-color: #156a57;
    border-color: #176656;
}

/* BARRA DE AÇÕES */
.dataTable .active {
    color: #242B33;
    background-color: #F5F5F5;
    outline: 2px solid #25B89A;
}

.barra-de-acoes .dropdown-menu>li>a {
    background-color: #136755;
    color: #FFF;
    border-bottom: 1px solid #0F5445;
}

.barra-de-acoes .btn-secondary + .dropdown-menu>li>a {
    background-color: #a4c5be;
    color: #176656;
    border-bottom: 1px solid #6D928A;
}

.barra-de-acoes .btn-secondary + .dropdown-menu>li>a:hover,
.btn-secondary + .dropdown-menu>.active>a,
.btn-secondary + .dropdown-menu>.active>a:focus,
.btn-secondary + .dropdown-menu>.active>a:hover {
    background-color: #86ABA3;
}

.barra-de-acoes .dropdown-menu>li>a:hover,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #0F5445;
}

.barra-de-acoes.open .dropdown-toggle,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background-color: #136755;
	border-bottom: 2px solid #0B312A;
	color:#FFF;
}

.barra-de-acoes.open .btn-secondary.dropdown-toggle,
.open>.dropdown-toggle.btn-secondary:focus,
.open>.dropdown-toggle.btn-secondary:hover {
    background-color: #a4c5be;
	border-bottom: 2px solid #6D928A;
	color:#176656;
}

.barra-de-acoes .btn-secondary:focus,
.barra-de-acoes .btn-secondary:active {
	color:#176656;
}

/* DATE PICKER*/
.date-picker-button-active,
.date-picker-control:focus,
.date-picker-control:hover,
.date-picker-control:active {
	background-color:#25b89a;
	color:#FFF;
}

.date-picker .date-picker-today {
	outline: 1px solid #25B89A;
}

.date-picker .month-display,
.date-picker .year-display {
	color: #1d937b;
}

.date-picker .date-picker-hover,
.date-picker .month-out.date-picker-hover {
	color: #FFF;
	background: #25b89a;
}

.date-picker .prev-but:hover,
.date-picker .next-but:hover,
.date-picker .today-but:hover {
	color: #25b89a;
}

/* 	PAGINAÇÃO */
.pagination>li>a,
.pagination>li>span {
	color: #25b89a;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: #1d937b;
	background-color: #EEE;
	border-color: #DDD;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover {
	background-color: #5bc8b2;
	border-color: #5bc8b2;
	text-shadow: 0px -1px #258675;
}

.pagination>.active>a:focus,
.pagination>.active>span:focus {
	background-color: #1d937b;
	border-color: #1d937b;
}


/* LIST GROUP */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	color: #242b33;
	background-color: #F5F5F5;
	border-color: #25B89A;
}

a.list-group-item { color: #1C967D; }
a.list-group-item:hover, a:focus { color: #3EB9A0; }
a.list-group-item:active { color: #63DFC6; }

/* ACCORDION */
.accordionContainer .accordionBlock.active .accordionTitle {
    background: #5bc8b2;
    color: #fff;
	text-shadow: 0px -1px #258675;
}

/* MODAL */
.modal-header {
	background-color: #EAEAEA;
	border-bottom: 2px solid #25B89A;
}

.modal-header .modal-title {
	color: #25B89A;
}

/* RODAPÉ */
.rodape {
	background-color: #242B33;
	background: #242B33 url(../images/bg_rodape.png) no-repeat 95% center;
	color: #FFF;
	border-bottom: 3px solid #25b89a;
}

/* PANEL */
.panel-compact>.panel-heading h1,
.panel-compact>.panel-heading h2,
.panel-compact>.panel-heading h3,
.panel-compact>.panel-heading h4,
.panel-compact>.panel-heading h5,
.panel-compact>.panel-heading h6,
.panel-compact>.panel-heading .h1,
.panel-compact>.panel-heading .h2,
.panel-compact>.panel-heading .h3,
.panel-compact>.panel-heading .h4,
.panel-compact>.panel-heading .h5,
.panel-compact>.panel-heading .h6 {
	color: #187764;
}

/* LOGIN */
.panel.login .panel-heading {
	background-color: #EAEAEA;
	border-bottom: 2px solid #25B89A;
}

.panel.login .panel-heading h1,
.panel.login .panel-heading h2,
.panel.login .panel-heading h3,
.panel.login .panel-heading h4,
.panel.login .panel-heading h5,
.panel.login .panel-heading h6 {
	color: #25B89A;
}

/* AUTOCOMPLETE */
.autocomplete .ui-state-focus {
    color: #fff;
    background-color: #25b89a;
}

/* MEDIA QUERIES */
@media(min-width: 768px) {
	.menuGlobalReduzido .nomeAplicacao .projeto, .menuGlobalReduzido .identAplicacao .sigla {
		background-color: #242B33;
		background: -moz-linear-gradient(-45deg, #25B89A 0%, #242b33 33%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#25B89A), color-stop(33%,#242B33));
		background: -webkit-linear-gradient(-45deg, #25B89A 0%,#242B33 33%);
		background: -o-linear-gradient(-45deg, #25B89A 0%,#242b33 33%);
		background: -ms-linear-gradient(-45deg, #25B89A 0%,#242b33 33%);
		background: linear-gradient(135deg, #25B89A 0%,#242B33 33%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25B89A', endColorstr='#242b33',GradientType=1 );
	}
}